@tailwind base;
@tailwind components;
@tailwind utilities;


.left {
  border-radius: 2rem 0 0 2rem;
  width: 5rem;
}

.right {
  border-radius: 0 2rem 2rem 0;
  width: 5rem;
}

/* .cone {
  width: 24px;
  height: 24.24px;
}

.menu {
  width: 27px;
  height: 24.24px;
} */

