@tailwind base;
@tailwind components;
@tailwind utilities;


.left {
  border-radius: 2rem 0 0 2rem;
  width: 5rem;
}

.right {
  border-radius: 0 2rem 2rem 0;
  width: 5rem;
}

/* .cone {
  width: 24px;
  height: 24.24px;
}

.menu {
  width: 27px;
  height: 24.24px;
} */

@media (min-width: 768px) {
  .max-w-sm {
    display: flex;
    flex-direction: row;
  }
}

@media (max-width: 767px) {
  .max-w-sm {
    display: flex;
    flex-direction: column;
  }
}

body {
  background-color: #F4F4F4;
  font-family: Arial, Helvetica, sans-serif;
}

.card {
  background-color: #F8F8F8;
}

h1 {
  color: #344054;
}

p {
  color: #667085;
}

.free {
  color: #667085;
}

.min {
  color: #475467;
  font-weight: 500;
}

button {
  background-color: #EDF2F5;
  border-color: #294F74;
}

.cc {
  color: #294F74;
}

.btn {
  border-radius: 3rem;
  color: #294F74;
  
}